.level-header {
  border-bottom: 0.5px solid gray;
}

.level-title {
  position: sticky;
  left: 0;
  width: 90vw;
  background-color: var(--vscode-editor-background);
}

.data-bar-title {
  position: sticky;
  left: 0;
  width: 200px;
  z-index: 3;
  border-right: 0.5px solid gray;
  background-color: var(--vscode-editor-background);
}
