* {
  box-sizing: border-box;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.borad {
  border: 0.5px solid gray;
}

.borad .content .level-container .level-title{
  background-color: rgb(218, 218, 218);
  border-bottom: 0.5px solid gray;
  padding: 3px 5px;
  font-size: smaller;
  cursor: pointer;
}

.borad .content .level-container .data-bar-container{
  display: flex;
  height: 25px;
}

.borad .content .level-container .data-bar-container .data-bar-title{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 3px;
  margin: 0px;
  height: 100%;
  width: 200px;
  font-weight: 600;
  background-color: rgb(245, 245, 245);
}

.borad .content .level-container .data-bar-container .data-bar {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgb(248, 248, 248);
  border: 0.5px solid gray;
  border-top: none;
}

.borad .content .level-container .data-bar-container .data-bar > div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.borad .content .ruler-container {
  display: flex;
}

.borad .content .ruler-container .ruler-blank {
  position: relative;
  height: 20px;
  width: 200px;
}

.borad .content .ruler-container .ruler {
  position: relative;
  width: 100%;
  height: 20px;
  background-color: rgb(255, 255, 255);
  border-bottom: 0.5px solid gray;
}
